[Unit]
Description=Gunicorn demo service
After=network.target

[Service]
Restart=always
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/repos/messi-ticket-price-tracker
ExecStart=/home/ubuntu/.local/bin/gunicorn -b localhost:8000 app:app

[Install]
WantedBy=multi-user.target
